// bower:scss
// endbower


$primary: #E91E63 !default;
$accent:  #5C6BC0 !default;
$warn:    #F44336 !default;

@import "_sidenav.scss";

body {background: #f7f7f7}
body,p,h1,h2,h3,h4,h5,select,input,textarea {
  font-family: 'RobotoDraft','Roboto','Helvetica Neue','Segoe UI','sans-serif'
}

h1,h2,h3, .md-toolbar-tools h2, .md-toolbar-tools h3 {font-weight:300; }


.main-content {background:#f7f7f7;
  &>md-content.md-default-theme {background: transparent;}
}
.container {max-width: 1200px; margin: 0 auto; display: block;}
.pull-up {
  position: relative;z-index:10;top:-85px;background-color:transparent; 
  md-card {position: relative;}
}

.bookshelf {background-image:url(../images/bg.png); background-position: 50% 50%; background-size: cover;}
.mymd {color:rgba(0,0,0,.4) !important;
  .icon {font-size: 130%;}
}

/* CAAARDS */
.md-card{
  background: #FFF;
  padding: 20px;
  margin-bottom: 15px;
}

.url-card {
  margin-bottom:50px;
  .urlOk {
    position: absolute;right: 10px;top: 10px; font-size: 50px; opacity: 0.5;z-index: 10;
      .ok {color:$accent; }
      .nok {color:$warn; position: relative;z-index: 2;}
    }

  form {}
  form.url {
    input {width: 100%;}
    label {font-size: 200%;font-weight: 300; }

  }
}


.feed-item {
  background: #FFF; 
  margin-bottom: 40px;
  h2 {margin:0;color: $accent;}
  .categories {
    float: right;
    margin:0;
    span {display: inline-block; margin:0 5px 5px 0;background:$primary;padding:5px 10px;color:#FFF; }

  }
  .meta {color:#999;font-size: 90%;font-weight: 300;margin:5px 0 0;
    span {display: block;
      &.author {color:#000;}
      .icon {margin-right: 25px;font-size: 22px;width: 30px;display:inline-block;text-align: center; color:$accent;}
    }
   }
  .read-more-btn {position: absolute;right: -20px;bottom: -20px; font-size: 30px;
    width: 43px;height:43px;line-height: 1;
  }
  .feed-content {
    img {max-width: 100%;clear:both;display: block;margin:30px 0 }
    a {color:$primary; text-decoration: none;}
  }
}

.bgicon {font-size: 10vmin; position: absolute;color: $accent; z-index: 0; left:1%; top:1%;opacity:0.8;}
#share-url {position:relative;z-index:1; min-height: 200px; margin: 20px auto; width:100%; display: block; background: rgba(255,255,255,.4); border: 0;padding:20px;color:#888;font-size: 70%; }


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .feed-item {
    margin:0 20px 40px;
    .read-more-btn {right: 20px;}
  }
}
