
<md-card class="md-card">
  
  <span class="urlOk">
    <i class="ok ion-ios-checkmark-outline" ng-if="status"></i>
    <i class="nok ion-ios-close-outline" ng-if="status===false"></i>
  </span>

  <form class="url">
    <md-text-float label="Give Blog RSS URL" ng-model="url" type="url"></md-text-float>
  </form>
</md-card>


<md-card class="md-card feed-item" ng-repeat="item in feed.entries">
  <h2>{{item.title}}</h2>
  <h3 class="date"><i class="ion-ios-clock-outline"></i> {{item.publishedDate}}</h3>
  <p ng-show="!open">{{item.contentSnippet}}</p>
  <div ng-if="open" ng-bind-html="item.content"></div>
  <md-button ng-click="open=!open" class="md-fab read-more-btn md-warn" aria-label="Toggle Blog Item" class="menu-icon">
      <i ng-if="!open" class="ion-ios-plus-empty"></i>
      <i ng-if="open" class="ion-ios-close-empty"></i>
    <md-tooltip>
        Read more
    </md-tooltip>
  </md-button>
</md-card>

