     <md-toolbar class="md-theme-default md-accent">
        <h1 class="md-toolbar-tools">Blogs</h1>

        <md-button ng-click="blogFunctions.add()" class="md-fab md-primary add-blog-btn read-more-btn" aria-label="Add Blog">
         <i class="ion-ios-plus-empty"></i>
        </md-button>

      </md-toolbar>
      <md-content class="md-padding" >
        <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button> -->

        <p class="info" ng-if="!blogs.length">
          Add Blogs by clicking + Button
        </p>

        <ul class="menu">
          <li ng-repeat="(id,blog) in blogs">
            <button class="menu-item menu-title md-menu-item" md-ink-ripple="#bbb" ng-click="blogFunctions.select(id)" md-highlight="active(blog.url)">
              <span class="text">{{blog.title}}</span>

      
            </button>
               <span class="tools"><a ng-click="blogFunctions.remove(id)" href><i class="icon ion-ios-close-outline"></i></a></span>
          </li>
        </ul>

      </md-content>